extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3 Add Refresh Path
    form(action='/admin/add-refreshpath', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(for='formGroupRefreshpathInput') Name
            input#formGroupRefreshpathInput.form-control(type='text' placeholder='GO7 PROD to DEV' name='name')
        .form-group 
            label(for='formGroupRefreshpathInput') Description
            input#formGroupRefreshpathInput.form-control(type='text' placeholder='Refresh path for GO7 PROD to DEV' name='description')
        .form-group
            label(for='formGroupRefreshpathInput') IUA
            input#formGroupRefreshpathInput.form-control(type='text' placeholder='GO7' name='iua')
        .form-group
            label(for='formGroupRefreshpathInput7') Source
            input#formGroupRefreshpathInput7.form-control(type='text' placeholder='Database source' name='source')
        .form-group
            label(for='formGroupRefreshpathInput8') Destination
            input#formGroupRefreshpathInput8.form-control(type='text' placeholder='Database target' name='destination')
        .form-group
            label(for='formGroupRefreshpathInput9') type
            input#formGroupRefreshpathInput9.form-control(type='text' placeholder='Oracle' name='type')
        .form-group
            label(for='formGroupRefreshpathInput9') method
            input#formGroupRefreshpathInput9.form-control(type='text' placeholder='expdp, rman' name='method')
        .form-group
            label(for='formGroupRefreshpathInput9') prescript
            input#formGroupRefreshpathInput9.form-control(type='text' placeholder='' name='prescript')
        .form-group
            label(for='formGroupRefreshpathInput9') postscript
            input#formGroupRefreshpathInput9.form-control(type='text' placeholder='' name='postscript')
        .offset-md-3.col-md-7.pl-2
            button.col-md-7.btn.btn-primary(type='submit')
                i.fas.fa-plus.fa-sm
                | Add Path
