extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3 Add Database
    form(action='/admin/add-database', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(for='formGroupDatabaseInput') Database Name
            input#formGroupDatabaseInput.form-control(type='text' placeholder='mydb' name='dbname')
        .form-group 
            label(for='formGroupDatabaseInput') Instance Name(s)
            input#formGroupDatabaseInput.form-control(type='text' placeholder='mydb1,myd2,mydb3' name='instancename')
        .form-group
            label(for='formGroupDatabaseInput') Server Name(s)
            input#formGroupDatabaseInput.form-control(type='text' placeholder='mysrv1,mysrv2,mysrv3' name='servername')
        .form-group
            label(for='inlineFormCustomSelect') Status
            select#inlineFormCustomSelect.custom-select.mr-sm-2(type='text' name='status')
                option(selected='') Choose...
                option(value='Active') Active
                option(value='Inactive') Inactive
                option(value='End of exploitation') End of exploitation
        .form-group
            label(for='inlineFormCustomSelect') Job
            select#inlineFormCustomSelect.custom-select.mr-sm-2(type='text' name='job')
                option(selected='') Choose...
                option(value='Communication') Communication
                option(value='Conformité') Conformité
                option(value='DF1') DF1
                option(value='DF2') DF2
                option(value='DF4') DF4
                option(value='DF5') DF5
                option(value='DIL - Achat') DIL - Achat
                option(value='Directions Fonctionnelles') Directions Fonctionnelles
                option(value='Finances') Finances
                option(value='Gouvernance du SI') Gouvernance du SI
                option(value='Pilotage Financier') Pilotage Financier
                option(value='Référentiels') Référentiels
                option(value='RH') RH
                option(value='Risques') Risques
                option(value='Secrétariat Général') Secrétariat Général
                option(value='Service des Résultats') Service des Résultats
                option(value='Transverse') Transverse
        .form-group
            label(for='inlineFormCustomSelect') Type
            select#inlineFormCustomSelect.custom-select.mr-sm-2(type='text' name='type')
                option(selected='') Choose...
                option(value='Analysis Services') Analysis Services
                option(value='Mongo Db') Mongo Db
                option(value='MySql') MySql
                option(value='Oracle') Oracle
                option(value='Sql Server') Sql Server
                option(value='Sybase ASE') Sybase ASE
                option(value='Sybase IQ') Sybase IQ
                option(value='Sybase Replication Server') Sybase Replication Server
        .form-group
            label(for='inlineFormCustomSelect') Environment
            select#inlineFormCustomSelect.custom-select.mr-sm-2(type='text' name='environment')
                option(selected='') Choose...
                option(value='Development') Development
                option(value='Test') Test
                option(value='UAT') UAT
                option(value='Bench') Bench
                option(value='Production') Production
        .form-group
            label(for='formGroupDatabaseInput7') Version
            input#formGroupDatabaseInput7.form-control(type='text' placeholder='12C R1, 11G R2...' name='version')
        .form-group
            label(for='formGroupDatabaseInput8') Port
            input#formGroupDatabaseInput8.form-control(type='text' placeholder='1521' name='port')
        .form-group
            label(for='formGroupDatabaseInput9') IUA
            input#formGroupDatabaseInput9.form-control(type='text' placeholder='GO7' name='iua')
        .offset-md-3.col-md-7.pl-2
            button.col-md-7.btn.btn-primary(type='submit')
                i.fas.fa-plus.fa-sm
                | Add database
