footer
  .container.text-center
    p.float-left © 2020 Natixis - CFIT
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/')
         i.fa.fa-home
      li.list-inline-item
        a(href='http://ribdo:8000') Ribdo
