extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 
      i.fas.fa-exclamation-triangle
      | 404 - Page Not Found
     
  .row
    .col-md-6
      a(href='/')
        img(src='/404.png' style='width:400px; height:auto;')
